@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-text {
  width: 225px;
  float: left;
  margin-right: 50px;
}

.float-text:last-child,
.inlineblock-text:last-child {
  margin-right: 0;
}

.table-box {
  display: table;
}

.cell {
  display: table-cell;
  width: 225px;
  vertical-align: middle;
  padding-left: 50px; 
}

.cell:first-child {
  padding-left: 0; 
}

.inlineblock-box,
.margin-inner {
  font-size: 0;
}

.inlineblock-text {
  display: inline-block;
  width: 225px;
  vertical-align: middle;
  margin-right: 50px;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-text{
  /* width: 225px; */
}

.margin-box-left {
  width: 300px;
  display: inline-block;
}

.margin-box-rigth {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  vertical-align: top;
}

.margin-text,
.inlineblock-text {
  font-size: 16px;
}

.sizing {
  box-sizing: border-box;
}