@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wapper {
  font-size: 16px;
  background-color: white;
}

.float-left, .float-right{
  width: 225px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
.float-left {
  margin-right: 50px;
}
/* 回答はここにいてね */
.table-box {
  display: table;
  margin: 0 auto;
}

.cell {
  display: table-cell;
  width: 225px;
  vertical-align: middle;
  padding-left: 50px; 
}

.text-right, .text-left {
  padding: 10px;
}

.cell:first-child {
  padding-left: 0; 
}

.inlineblock-box{
  font-size: 0;
}

.inlineblock-left, .inlineblock-right {
  display: inline-block;
  width: 225px;
  vertical-align: middle;
  box-sizing: border-box; 
  font-size: 16px;

}

.inlineblock-right {
  margin-left: 50px;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  vertical-align: bottom;
  align-items: flex-end;
}

.flex-left, .text-right{
  width: 225px;
  box-sizing: border-box;
}

.flex-right {
  vertical-align: text-bottom;
}

.margin-inner {
  width:100%;
  box-sizing: border-box;
  font-size: 0;
}

.margin-box-left {
  width: 300px;
  display: inline-block;
}

.margin-box-rigth {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
  vertical-align: top;
}

.margin-text {
  font-size: 16px;
}